.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .cards {
    margin-top: 36px;
  }
}